* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 70px;
}
.logo-imagem {
  width: 250px;
  height: 250px;
}
.espacamento {
  margin-left: 34px;
}
.wrapper {
  background-color: rgb(196, 196, 196);
  width: 375px;
  height: 712px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.seta {
  width: 100px;
  height: 100px;
  display: block;
}
.icone {
  width: 100px;
  height: 100px;
}

.label {
  font-size: 30px;
}
#moeda {
  font-size: 40px;
}
