* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 40px;
}
p {
  font-size: 20px;
}
.logo-imagem {
  width: 250px;
  height: 250px;
}

.espacamento {
  margin-left: 34px;
  padding-top: 55px;
}
.wrapper {
  background-color: rgb(196, 196, 196);
  border-radius: 50px;
  width: 375px;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.seta {
  width: cover;
  height: 40px;
  display: block;
}
.icone {
  width: cover;
  height: 50px;
  border-radius: 500px;
}

.label {
  font-size: 30px;
}
#moeda {
  font-size: 30px;
  cursor: pointer;
  width: 260px;
}
.input {
  font-size: 25px;
  width: 260px;
  height: 50px;
}

.button {
  font-size: 20px;
  width: 327px;
  height: 48px;
  opacity: 1;
  border-radius: 50px;
  color: white;
  background-color: rgb(207, 141, 19);
  margin: 40px 0 40px 0;
  left: 24px;
  box-shadow: 0px 4px 4px 0px #00000040;
  cursor: pointer;
}

.wrapper-teste {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  width: 327px;
  border-radius: 20px;
  background-color: #f2f2f2;
}
